# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Node / JS
node_modules/
/dist
.eslintcache
.clear
.npm
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environments / Sensitive data
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*
*.pem

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
